{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">



    <title>Homepage</title>
  </head>
  <body>

    <script src="{% static 'js/scripts.js' %}"></script>

    <div class="container">
        <img src="{% static 'img/day-and-night-png-big-image-png-2400.png' %}" class="button">
        <button class="btn"></button>
    </div>

    <h1>Hi.</h1>

    <div class="accordion">
        <div class="set">
            <a href="#">
                Current Activity
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <p>Berkuliah di Universitas Indonesia sebagai mahasiswa Fakultas Ilmu Komputer</p>
            </div>
        </div>
        <div class="set">
            <a href="#">
                Organization Experience 
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <p>BEM Departemen Olahraga Fasilkom UI 2019
                <br>
                Staf Dana Usaha dan Kesehatan CS League 2019
                <br>
                Staf Dana Usaha CGT 2019
                <br>
                Staf Dana Usaha dan Konsumsi Open House Fasilkom UI 2019
                <br>
                Staf Documentation and Animation COMPFEST 11
                </p>
            </div>
        </div>
        <div class="set">
            <a href="#">
                Achievement 
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <p>Juara 1 Short Movie SkyAve</p>
            </div>
        </div>
    </div>
    
    
  </body>
</html>
