body{
	background-color: burlywood;
}
h1{
	color: saddlebrown;
	text-align: center;
	font-size: 70px;
}
p{
	font-size: 15px;
}
.second{
	min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
   	justify-content: center;
}
.story{
    background: linear-gradient(125deg, #778beb, #f8a5ce);
    min-width: 500px;
    max-width: 1000px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 0 auto;
      /* max-width: 1000px; */
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
}

